/* FONTS */
@font-face {
    font-family: "DM_Mono";
    src: url("fonts/DMMono-Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM_Mono";
    src: url("fonts/DMMono-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: "DM_Mono";
    font-weight: 400;
    font-size: 120%;
    scroll-behavior: smooth;
    color: #212121;
    background-color: #fafafa;
}