/* FONTS */
@font-face {
    font-family: "Geist";
    src: url("fonts/Geist-SemiBold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("fonts/Geist-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: "Geist";
    font-weight: 400;
    font-size: 120%;
    scroll-behavior: smooth;
    color: #212121;
    background-color: #fafafa;
}