/* Will add media later when polish design, same comes to other variables */
/* FONTS */
@font-face {
    font-family: "DM_Mono";
    src: url("fonts/DMMono-Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM_Mono";
    src: url("fonts/DMMono-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: "DM_Mono";
    font-weight: 400;
    font-size: 120%;
    scroll-behavior: smooth;
    color: var(--white);
    background-color: var(--blue-gray);

    /* PRIMARY COLORS */
    --black: #2C2C2C;
    --white: #FAF9F8;
    --gray: #A6A6A6;
    --blue-gray: #8EA5AF;
}

body::before {
    content:"";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 2;
    background-image: url("/assets/noise.gif");
    background-repeat: repeat;
    background-size: 500px 700px;
    opacity: 0.08;
    mix-blend-mode: soft-light;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

nav.top {
    top: 0;
}

nav.center {
    top: 50%;
    transform: translateY(-50%);
    padding: 1rem;
}

ol {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: auto;
    align-items: flex-end;
}

nav.bottom {
    bottom: 0;
    padding: 1rem;
}

.filter {
    width: auto;
}

nav.center .footnote {
  text-align: right;
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
}

.inner {
    width: 0.813rem;
    height: 0.813rem;
}

nav.bottom a:nth-child(1) .outer { background-color: var(--black); }
nav.bottom a:nth-child(1) .inner { background-color: var(--white); }

nav.bottom a:nth-child(2) .outer { background-color: var(--white); }
nav.bottom a:nth-child(2) .inner { background-color: var(--black); }

.logo {
    padding-block-start: 0.5rem;
    width: 4.8rem;
}

/* Hover later when I polish design */
.btn {
    background-color: var(--black);
    padding-inline: 1.375rem;
    padding-block: 1.375rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.75rem;
}

main {
    padding: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero {
    height: 90svh;
}

hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 34%;
    gap: 1rem;
    text-align: center;
}

img {
    width: 100%;
}

/* CMS */
ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 40%;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

/* CMS text */
.txt{
    justify-content: space-between;
    padding: 2.5rem;
    background-color: var(--white);
    color: var(--black);
    height: 60svh;
}

.txt p {
    text-transform: none;
}

.txt p:nth-of-type(2) {
    align-self: flex-end; /* Matches elements based on their position among siblings of the same type. */
    text-transform: uppercase;
    color: var(--gray);
}

/* CMS pdf */
.doc {
    height: 95svh;
    overflow: hidden;
    position: relative;
}

.doc iframe {
    width: 100%;
    height: 100%;
}

/* CMS video */
.vid {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* Standart 16:9 ratio*/
}

/* Learned this embed properties from my prof exp through my first embed video struggles*/
.vid iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

/* FONT STYLING */
h1 {
    font-weight: 500;
    font-size: 2rem; 
    letter-spacing: -0.015rem;
    text-transform: uppercase;
    text-wrap: balance;
}

p {
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 140%;
}

.footnote {
    padding-block-start: 0.25rem;
    font-size: 0.75rem;
}

