/* FONTS */
@font-face {
    font-family: "DM_Mono";
    src: url("fonts/DMMono-Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM_Mono";
    src: url("fonts/DMMono-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: "DM_Mono";
    font-weight: 400;
    font-size: 120%;
    scroll-behavior: smooth;
    color: var(--white);
    background-color: var(--blue-gray);

    /* PRIMARY COLORS */
    --black: #2C2C2C;
    --white: #FAF9F8;
    --blue-gray: #8EA5AF;
}

body {}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    padding-block-start: 0.5rem;
    width: 4.8rem;
}

.btn {
    background-color: var(--black);
    padding-inline: 1.375rem;
    padding-block: 1.375rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.75rem;
}

main {}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero {
    height: 80svh;
}

hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 34%;
    gap: 1rem;
    text-align: center;
}

img {
    width: 100%;
}

/* CMS */

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 40%;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.txt {}
.doc {}
.pic {}
.vid {}

.sizer-1 {
    width: 55%;
}
.sizer-2 {
    width: 90%;
}

.sizer-3 {
    width: 45%;
}

footer {}

h1 {
    font-weight: 500;
    font-size: 2rem; 
    letter-spacing: -0.015rem;
    text-transform: uppercase;
    text-wrap: balance;
}

p {
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 140%;
}

.footnote {
    padding-block-start: 0.25rem;
    font-size: 0.75rem;
}

