/* FONTS */
@font-face {
    font-family: "DM_Mono";
    src: url("fonts/DMMono-Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM_Mono";
    src: url("fonts/DMMono-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: "DM_Mono";
    font-weight: 400;
    font-size: 120%;
    scroll-behavior: smooth;
    color: var(--white);
    background-color: var(--blue-gray);

    /* PRIMARY COLORS */
    --black: #2C2C2C;
    --white: #FAF9F8;
    --gray: #A6A6A6;
    --blue-gray: #8EA5AF;

    /* GAP */
    --gap-medium: 0.75rem;
    --gap-xlarge: 2rem;

    @media (width > 800px) {
        --gap-medium: 1rem;
        --gap-xlarge: 2.5rem;
    }

    @media (width > 1000px) {
        --gap-xlarge: 3rem;
    }

    @media (width > 1200px) {
        --gap-xlarge: 4rem;
    }

    /* PADDING */
    --pad-medium: 0.75rem;
    --pad-large: 1rem;

    @media (width > 600px) {
        --pad-medium: 1rem;
        --pad-large: 1.5rem;
    }

    @media (width > 1000px) {
        --pad-large: 2rem;
    }

    @media (width > 1200px) {
        --pad-large: 2.5rem;
    }

    /* BUTTON */
    --pad-btn: 0.75rem;

    @media (width > 800px) {
        --pad-btn: 1rem;
    }

    @media (width > 1200px) {
        --pad-btn: 1.375rem;
    }

    /* FONT SIZE */
    --h1-title: 1.25rem;
    --bodycopy: 0.75rem;
    --footnote: 0.625rem;

    @media (width > 600px) {
        --h1-title: 1.75rem;
        --bodycopy: 1rem;
        --footnote: 0.75rem;
    }

    @media (width > 800px) {
        --h1-title: 2rem;
    }
}

body::before {
    content:"";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 2;
    background-image: url("assets/noise.gif");
    background-repeat: repeat;
    background-size: 500px 700px;
    opacity: 0.04;
    mix-blend-mode: normal;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

nav.top {
    top: 0;
    align-items: flex-start;
}

nav.center {
    display: flex;
    flex-direction: row;
    top: 50%;
    transform: translateY(-50%);
    padding: var(--pad-medium);
    pointer-events: none;

    @media (width > 1000px) {
        flex-direction: row-reverse;
    }
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--gap-medium);
}

#channel-blocks {
    align-items: center;
    justify-content: center;
    width: 100%;
}

#filter-area {
    width: auto;
    align-items: flex-start;

    @media (width > 1000px) {
        align-items: flex-end;
    }
}

button {
    cursor: pointer;
    pointer-events: auto;
}

nav.bottom {
    bottom: 0;
    padding: var(--pad-medium);
}

.filter {
    width: auto;
}

nav.center .footnote :first-of-type{
    text-align: left;
}

nav.center .footnote :last-of-type{
    text-align: left;

    @media (width > 1000px) {
        text-align: right;
    }
}

nav.center > p.footnote {
    display: none;
    
    @media (width > 1000px) {
        display: block;
  }
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
}

.inner {
    width: 0.813rem;
    height: 0.813rem;
}

nav.bottom a:nth-child(1) .outer { background-color: var(--black); }
nav.bottom a:nth-child(1) .inner { background-color: var(--white); }

nav.bottom a:nth-child(2) .outer { background-color: var(--white); }
nav.bottom a:nth-child(2) .inner { background-color: var(--black); }

.logo {
    padding-block-start: 0.5rem;
    width: 4rem;

    @media (width > 1000px) {
        width: 4rem;
    }

    @media (width > 1200px) {
        width: 4.8rem;
    }
}

.icon {
    display: visible;
    align-items: center;

    @media (width > 600px) {
        display: none;
    }
}

/* Hover later when I polish design */
.btn {
    background-color: var(--black);
    padding: var(--pad-btn);
    text-transform: uppercase;
    text-align: center;
    width: 3rem;
    height: 3rem;

    @media (width > 600px) {
        width: auto;
        height: auto;
    }
}

.btn p {
    font-size: 0.75rem;
    display: none;

    @media (width > 600px) {
        display: block;
    }
}

main {
    padding: var(--pad-medium);
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;

    @media (width > 1000px) {
        align-items: center;
    }
}

.hero {
    padding-block-start: 20svh;
    height: 80svh;

    @media (width > 1000px) {
        padding-block-start: 10svh;
        height: 90svh;
    }
}

hgroup {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 70%;
    gap: var(--gap-medium);
    text-align: left;

    @media (width > 600px) {
        width: 80%;
    }

    @media (width > 800px) {
        width: 60%;
    }

    @media (width > 1000px) {
        align-items: center;
        width: 50%;
        text-align: center;
    }

    @media (width > 1200px) {
        width: 40%;
    }
}

img {
    width: 100%;
}

/* CMS */
li {
    display: flex;
    align-items: center;    
    gap: var(--gap-medium);
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-medium);
    width: 100%;
}

.wrapper .sizer-secondary:first-of-type{
    visibility: hidden;

    @media (width > 1000px) {
        visibility: visible;
        text-align: left;
        width: 18%;
        text-wrap: balance;
    }
}

.wrapper .sizer-secondary:last-of-type{
    display: none;

    @media (width > 1000px) {
        display: block;
        text-align: right;
        visibility: hidden;
        width: 18%;
        text-wrap: balance;
    }
}

.sizer-primary {
    width: 70%;

    @media (width > 600px) {
        width: 80%;
    }

    @media (width > 800px) {
        width: 60%;
    }

    @media (width > 1000px) {
        width: 50%;
    }

    @media (width > 1200px) {
        width: 40%;
    }
}

.sizer-secondary {
    width: 15%;

    @media (width > 600px) {
        width: 10%;
    }

    @media (width > 800px) {
        width: 20%;
    }

    @media (width > 1000px) {
        width: 25%;
    }

    @media (width > 1200px) {
        width: 30%;
    }
}

/* CMS text */
.aud{
    display: flex;
    flex-direction: column;
    padding: var(--pad-large);
    background-color: var(--black);
    color: var(--gray);
    gap: var(--gap-medium);
    align-items: center;
}

.aud p {
    text-align: center;
    text-transform: none;
    width: 100%;
}

audio {
	block-size: revert;
	inline-size: 100%;
}

.img {
    display: flex;
    flex-direction: column;
}

.txt{
    display: flex;
    flex-direction: column;
    padding: var(--pad-large);
    background-color: var(--white);
    color: var(--black);
    gap: var(--gap-xlarge);
}

.txt p {
    text-transform: none;
}

/* Matches elements based on their position among siblings of the same type. */
.txt p:nth-of-type(2) {
    align-self: flex-end; 
    text-transform: uppercase;
    color: var(--gray);
}

/* CMS pdf */
.doc {
    height: 95svh;
    overflow: hidden;
    position: relative;
}

.doc iframe {
    width: 100%;
    height: 100%;
}

/* CMS video */
.vid {
    position: relative;
}

.sizer-primary.vid iframe{
    width: 100%;
    height: auto;          
    aspect-ratio: 16 / 9;
    display: block;
    border: 0;
}

/* FONT STYLING */
h1 {
    font-weight: 500;
    font-size: var(--h1-title); 
    letter-spacing: -0.015rem;
    text-transform: uppercase;
    text-wrap: balance;
}

p {
    font-weight: 400;
    font-size: var(--bodycopy);
    text-transform: uppercase;
    line-height: 140%;
}

.footnote {
    padding-block-start: 0.25rem;
    font-size: var(--footnote);
}